<button class=@ClassName>template: @Text</button>

@code {
    private string _text = string.Empty;
    public string Text { 
        get => _text;
        set
        {
            _text = value;
            StateHasChanged();
        }
    }
    public string ClassName { get; set; } = string.Empty;
}